.footer-main
{
  background-color: #2C3E50;
  height:125px;
  padding:25px;
  font-family: arial;
	font-weight: 800;
}


.footer-section
{
  height:100px;
}

.footer-section > p
{
 color: #1BBC9B;
}

.left
{
	text-align:left;
color: #1BBC9B;
}


.right
{
	text-align:right;
}
.bigo {

}