.footer {
  background-color: #bdbdbd;
  padding: 15px 25px 8px 25px;
  color: black;
}

.footer_left {
  text-align: left;
}

.footer_middle img {
  width:2em;
  margin-left: 15px;
  margin-bottom: 1px;
}

.footer_right {
  text-align: right;
}

.footer_right .liens a {
  text-decoration: none;
  font-color: black;
}

@media screen and (max-width: 800px){
  .footer {
    font-size: 10px;
  }
  .footer_left {
    text-align: center;
  }
  .footer_middle {
    text-align: center;
    padding: 5px 0 5px 0;
  }
  .footer_right {
    text-align: center;
  }
  .footer_middle img{
    margin-left: 0;
  }
}
