.footer {
  background-color: #d2d4dc;
  padding:5px 25px 0px 25px;
  color: black;
}

.footer_left {
  text-align: left;
}

.footer_middle img {
  width:2em;
  margin-left: 15px;
  margin-bottom: 1px;
}

<<<<<<< HEAD

.right
{
	text-align:right;
	color: black;
   	float:right;
=======
.footer_right {
  text-align: right;
>>>>>>> 3a713654f1fd82a7f991ed0855c81a19be12bb85
}

.footer_right .liens a {
  text-decoration: none;
  font-color: black;
}

@media screen and (max-width: 800px){
  .footer {
    font-size: 10px;
  }
  .footer_left {
    text-align: center;
  }
  .footer_middle {
    text-align: center;
    padding: 5px 0 5px 0;
  }
  .footer_right {
    text-align: center;
  }
}
