.navbar{
	margin-bottom: 0px;
	font-family: 'PT+Sans',Arial,sans-serif;
}

nav li{
	padding: 0 18px 0 0;
}

.nautile{
	height: 170%;
	margin-left: -5px;
	margin-top: -7px;
}

.linked_in img{
	height: 20px;
}

.container-fluid > .navbar-collapse li{
	margin-left: 15px;
}


@media screen and (max-width: 1040px){
	.nav > li > a {
		padding : 15px 0px;
	}
}