body {
	background-color: #f8f8f8;
	font-family: 'PT+Sans',Arial,sans-serif;
}

h1 {
	font-weight: 600;
}

.row .formations_section1_texte{
	margin-top: 100px;
    text-align: left;
    margin-bottom: 100px;
}

.formations_section2_photo {
	height: 100%;
}

.formations_section2_photo img{
	width: 100%;
	padding-top: 350px;
	padding-left: 25px;
	-webkit-border-radius: 100px;
}



