.section2 {
	background-color: #1BBC9B;

}
.section3 {
	background-color: #1BBC9B;
}
.margin {
	margin-top: 50px;
}
.bleu {
	background-color: #1BBC9B;
}
.img-jolie {
	
	width: 100%;
  margin-top: 50px;
}
