body {
	background-color: #f8f8f8;
	font-family: 'PT+Sans',Arial,sans-serif;
}

h1 {
	font-weight: 600;
}

/* Ateliers - Section1 */
.row .ateliers_section1_texte{
	margin-top: 100px;
    text-align: left;
    margin-bottom: 50px;
}

/* Ateliers - Section2 */
.ateliers_section2_photo {
	height: 100%;
}

.ateliers_section2_photo img{
	width: 100%;
	padding-top: 150px;
}

/* Ateliers - Section3 */
.ateliers_section3_planning{
	background: url("../images/1460552595_common-calendar-month-glyph.png") no-repeat;
	background-size: 60px auto;
  background-position: 80px 50px;
	margin: 0 125px 25px 125px;
	border: 2px solid black;
	text-align: center;
}
.ateliers_section3_planning h2{
	font-size: 30px;
}

@media screen and (max-width: 1040px) {
	.ateliers_section3_planning{
		background-position: 10px 50px;
	}
}

@media screen and (max-width: 860px) {
	.ateliers_section3_planning{
		background: none;
	}
}