body {
	background-color: #f8f8f8;
	overflow-x: hidden;
	font-family: 'PT+Sans',Arial,sans-serif;
}

.titre_mentions_legales{
	text-align: center;
	margin: 120px 50px 50px 50px;
}

.texte_mentions_legales{
	margin: 20px 50px 120px 50px;
}
