body {
	background-color: #f8f8f8;
}



.references_section2{
	margin-top: 200px;
	text-align: center;
	padding-bottom: 50px;
}

.liste_logos{
	padding-top: 50px
}

.references_section2 img{
	height: 80px;
	padding: 5px;
	margin: 0 50px 50px 50px;
}
