.section2 {
	background-color: #1BBC9B;

}
.section3 {
	background-color: #1BBC9B;
    vertical-align: center;
	margin-top: 25px;
}
.margin {
	margin-top: 50px;
}
.bleu {
	background-color: #1BBC9B;
}
.img-coaching {
	
	width: 80%;
     margin-top: 50px;
}


