body {
	background-color: #c7c2c2;
}

/* Page principale - Section1 */
.section1_texte{
	position:absolute;
	color: #19B5FE;
	font-size: 250%;
}

.section1_texte > div{
	position:absolute;
}

.section1_texte #Apprendre{
	margin-top: 100px;
}

.section1_texte #Accompagner{
	margin-top: 200px;
}

.section1_texte #Developper{
	margin-top: 300px;
}

.section1_photo{
	width:100%;
	height:45em;
	color:#19B5FE;
	background: url("../images/photo1_ok.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
		moz-background-size:cover;
		  o-background-size:cover;
			background-size:cover;
}

/* Page principale - Section2 */

.section2_presentation{
	margin-top: 10px;
	color:#FFFFFF;
	background-color:#1E8BC3;
}

/* Page principale - Section3 */

.section3_activites{
	margin-top: 35px;
}

@media screen and (max-width: 640px) {
  .section3_activites .row .coaching_photo {
  	margin-top: 10px;
  }
  .section3_activites .row .atelier_photo {
  	margin-top: 10px;
  }
}


/* Page principale - Section4 */

.section4_blog {
	margin-top: 35px;
	padding: 10px;
	color:#FFFFFF;
	background-color:#1E8BC3;
}

.section4_blog .row .citation{
	border-style: solid;
	border-width: 3px;
}