body {
	background-color: #f8f8f8;
	overflow-x: hidden;
	font-style: Helvetica;
}

.titre_mentions_legales{
	margin-top: 120px;
	text-align: center;
	padding-bottom: 50px;
}

.texte_mentions_legales{
	padding-bottom: 70px;

}
