body {
	background-color: #f8f8f8;
	overflow-x: hidden;
}

/* Contact - Section1 */
.contact_section1_photo{
	width: 100%;
  height: 15em;
  background: url("../images/picjumbo.com_P1010617.jpg") no-repeat;
  margin: 0;
	background-position: center;
}

/* Contact - Section2 */
.section2_contact{
	padding: 60px 0 50px 0;
	text-align: center;
}

.section2_contact{
	font-size: 17px;
}

/* Contact - Section3 */
.section3_formulaire .formulaire{
	padding-bottom: 50px;
}

.section3_formulaire .formulaire h1{
	text-align: center;
}

/* Contact - Section 4 Maps */
.section4_maps{
	position: relative;
  	padding-bottom: 56.5%; // This is the aspect ratio
  	height: 0;
  	margin: 0 70px 10px 70px;
}
.section4_maps iframe{
	position: absolute;
  	top: 0;
  	left: 0;
  	width: 500% !important;
  	height: 100% !important;
}

/* Contact - Section 5 */
.section5_sncf{
  margin: 20px 0 70px 75px;
}

.section5_sncf img{
	height: 40px;
}

.section5_sncf a{
	margin-left: 5px;
	font-size: 17px;
}
