body {
	background-color: #c7c2c2;
}

/* Contact_contact_photo - Section1 */
.contact_photo_section1{
	width:100%;
	height:15em;
	-webkit-background-size:cover;
		moz-background-size:cover;
		  o-background-size:cover;
			background-size:cover;
}

.contact .formulaire{
	margin-bottom: 50px;
}

.contact .formulaire h1{
	width: 300%;
	margin-left: -60px;
}

.contact .formulaire .form-group{
	margin-left:-60px;
	width:300%;
}

.contact .maps{
	padding-top: 150px;
}