body {
	background-color: #f8f8f8;
	font-family: 'PT+Sans',Arial,sans-serif;
}

/* Coaching - Section1 */

.coaching_section1_texte{
	margin-top: 100px;
  text-align: left;
  margin-bottom: 100px;
}

.coaching_section1_texte h1{
	font-weight: 600;
}

/* Coaching - Section2 */

.coaching_section2_photo {
	height: 100%;
}

.coaching_section2_photo img{
	width: 100%;
	padding-top: 180px;
	-webkit-border-radius: 100px;
}



