body { 
  background-color: #f8f8f8;
	font-family: 'PT+Sans',Arial,sans-serif;
}

/* Blog - Section1 photo */
.blog_section1_photo{
   width:100%;
   height:15em;
   background: url("../images/flower.jpg") no-repeat center center;
   -webkit-background-size:cover;
       moz-background-size:cover;
         o-background-size:cover;
           background-size:cover;
}

/* Blog - Section2 post */
.blog_section2_post{
  margin: 20px 10px 35px 10px;
}

.blog_section2_post #content{
  padding:10px;
  margin-top:10px;
}

.blog_section2_post .blog_article{
	box-shadow: 10px 10px 5px 0px #656565;
	-moz-box-shadow: 10px 10px 5px 0px #656565;
	-webkit-box-shadow: 10px 10px 5px 0px #656565;
	-o-box-shadow: 10px 10px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* Blog - Section3 sidebar */
.blog_section3_sidebar{
  margin: 40px 10px 10px 50px;
}

.blog_section3_sidebar .bloc_sidebar{
  width: auto;
  margin: 5px;
  border: 1px solid #656565;
  border-radius: 10px;
}

.blog_section3_sidebar .bloc_sidebar ul>li{
  list-style-type: circle;
  color: #1BBC9B;
}

.blog_section3_sidebar h3{
  color: #1BBC9B;
}

@media screen and (max-width: 993px){
	.blog_section3_sidebar{
  	margin: 20px 55px 20px 10px;
	}
}