/* Plan du site */

body {
	background-color: #f8f8f8;
	overflow-x: hidden;
	font-family: 'PT+Sans',Arial,sans-serif;
}

.plan_site h2{
	margin-top: 120px;
	text-align: center;
	padding-bottom: 50px;
}

.plan_site ul{
	margin-left: 60px;
	margin-bottom: 70px;
}

.formations{
	margin-left: 14px;
}

.coaching{
	margin-left: 14px;
}

.ateliers{
	margin-left: 14px;
}